body {
  margin: 0;
}


.header-main {
  background-color: white;
  height: 10vh; /* Chiều cao của header */
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Căn giữa theo chiều ngang */
  padding: 0 20px; /* Padding bên trái và bên phải */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.header-main .logo {
  width: 10vh; 
  height: auto; 
  margin-left: 100px;
}

.nav-links {
  display: flex; /* Sử dụng Flexbox cho danh sách liên kết */
}

.nav-item {
  margin: 0 80px; /* Khoảng cách giữa các nút */
  text-decoration: none; /* Xóa gạch chân */
  color: black; /* Màu chữ */
  transition: color 0.3s; /* Hiệu ứng chuyển màu */
  font-size: 20px
}

.nav-item:hover {
  color: #0056b3; /* Đổi màu chữ khi hover */
}

.header-main .login-form {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao toàn trang hoặc bạn có thể điều chỉnh */
  margin-right: 100px;
}

.login-form .login-button {
  background-color: #007BFF; /* Màu nền của nút */
  color: white; /* Màu chữ */
  padding: 15px 30px; /* Khoảng cách bên trong */
  border: none; /* Xóa đường viền */
  border-radius: 25px; /* Bo tròn góc */
  text-decoration: none; /* Xóa gạch chân */
  font-size: 16px; /* Kích thước chữ */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.login-button:hover {
  background-color: #0056b3; /* Đổi màu nền khi hover */
}

.main-background {
  display: flex;
  height: 90vh;
  /* align-items: center;
  justify-content: center; */
  background: rgb(4, 11, 39);
}
.main-background .image-background {
  height: 100%;
  position: fixed;
  width: 100%;
}
.main-container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background: #111;
}
.main-container .frame-container {
  height: 50%;
  position: relative;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .image-container {
  height: 50%;
  position: fixed;
  width: 80vw;
}