{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>360 Degree Image Viewer</title>
    <link rel="icon" href="">
    {% comment %} <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% endcomment %}
    <link rel="stylesheet" href="static/css/home.css"/>
  </head>
  <body>
    <header class="header-main">
      <img src="static/images/image/logo.jpg" alt="ANH QUẢNG" class="logo" />
      <div class="nav-links">
        <a href="#home" class="nav-item">Trang chủ</a>
        <a href="#about" class="nav-item">Giới thiệu</a>
        <a href="#services" class="nav-item">Dịch vụ</a>
        <a href="#contact" class="nav-item">Liên hệ</a>
    </div>
      <div class="login-form">
          <a href="{% url 'index' %}" class="login-button">Đăng nhập</a>
      </div>
  </header>
  <div class="main-background">
    <img src="static/images/image/background1.gif" alt="" class="image-background"/>
  </div>
  </body>
</html>