{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>360 Degree Image Viewer</title>
    <link rel="icon" href="">
    {% comment %} <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% endcomment %}
    <link rel="stylesheet" href="{%static 'css/index.css' %}"/>
  </head>
  <body>
    <header class="header-main">
        <img src="{%static 'images/image/logo.jpg' %}" alt="ANH QUẢNG" class="logo" />
        <div class="nav-links">
          <a href="#home" class="nav-item">Trang chủ</a>
          <a href="#about" class="nav-item">Giới thiệu</a>
          <a href="#services" class="nav-item">Dịch vụ</a>
          <a href="#contact" class="nav-item">Liên hệ</a>
        </div>
        <div class="login-form">
            <a href="{% url 'home' %}" class="login-button">admin</a>
        </div>
    </header>
    <div class="main-container">
      <div class="frame-container">
        <div class="image-container">
          <div class="controls">
            <button id="fullscreen">ZOOM</button>
            <input type="file" id="fileInput" accept="image/*" />
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"
      integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'js/360-viewer/panolens.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>